<p id="notice"><%= notice %></p>

<h1>Commonquestions</h1>

<table>
  <thead>
    <tr>
      <th>Commonquestion</th>
      <th>Question text</th>
      <th>Options</th>
      <th>Answer option number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commonquestions.each do |commonquestion| %>
      <tr>
        <td><%= commonquestion.commonquestion_id %></td>
        <td><%= commonquestion.question_text %></td>
        <td><%= commonquestion.options %></td>
        <td><%= commonquestion.answer_option_number %></td>
        <td><%= link_to 'Show', commonquestion %></td>
        <td><%= link_to 'Edit', edit_commonquestion_path(commonquestion) %></td>
        <td><%= link_to 'Destroy', commonquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commonquestion', new_commonquestion_path %>
